<div class="container-fluid">
  <div class="page-header text-center header">
    <h1 class="display-1">Dashboard - Website Analytics</h1>    
    <div class="dropdown-divider"></div>
  </div>

<div class="row bgcolor">
  <div class="col">
    <h2>New users signed in per month for 2019/2020</h2>
    <app-page-visits></app-page-visits>
  </div>
  <div class="col">
    <h2>Percentage of device website traffic</h2>
    <app-users></app-users>
  </div>
  <div class="col">
    <h2>Website visits based on age group in 2020</h2>
    <app-demographics></app-demographics>
  </div>
  <div class="col">
    <h2>Comparision of native app downloads for 2019/2020</h2>
    <app-downloads></app-downloads>
  </div>
</div>

<footer>
  <h3 class="footercolor text-center">Author @ Gautam Mekala. Connect me on <a
    class="footer-link"
    target="_blank"
    href="https://www.linkedin.com/in/gautam-mekala-009583155/">
    <i><img class="linkedin-logo" src="assets/linkedin.png"/></i>
  </a></h3>
</footer>
</div>