.bgcolor {
  background-color: #f8f9f9;
}
.header {
  background-color: #3498db;
}
footer {
  /* .set the height of the footer */
  height: 35px;
  /* just setting a color so you can see the footer */
  background: #d6dbdf;
}
.footercolor {
  color: #154360;
}
.linkedin-logo {
  height: 30px;
}
